#welcome-top
  %section.featured
    = image_tag('youth-football-heisman.png', size: '900x500')

%h3 Cultural Cuisine Discovery



= link_to "Choose Destination", 'destinations', class: 'destination-btn'