%p#notice= notice

%h2
  Your Shopping Cart


%p
  Your current order:
%ul
  - @cart.line_items.each do |item|
    %li
      = item.meal.name

=# link_to 'Edit', edit_cart_path(@cart)
\|
=# link_to 'Back', carts_path
