.jumbo-header
  Explore a Destination


%section#fly-over-map
  #map3d

%ul#location-list
  - @destinations.each do |place|
    .destination-wrapper
      = link_to destination_path(place.id) do
        = image_tag(place.destination_image.url(:medium))
        .info-box
        .info
          .dest-name
            = place.name
          .dest-description
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim

