.jumbo-header
  Explore Your Destination


%section#fly-over-map
  #map3d

%ul#location-list
  - @destinations.each do |place|
    %li
      = link_to image_tag(place.destination_image.url(:medium)), destination_path(place.id), class: 'destination'
