/*//////////////////////////////
/     SASS COLOR PALETTE      /
////////////////////////////*/

/*Global variables*/

$top-border-active:   #A2D230;
$sky-blue-border:     #68B5E3;



/*
$go-green:           #76cc66;
$go-green-30:        lighten($go-green, 30%);
$go-green-plus5:     darken($go-green, 5%);
*/
