/*//////////////////////////////
/     SASS COLOR PALETTE      /
////////////////////////////*/

/*Global variables*/

$main-blue:           #2C4D94;
$main-blue-light-10:  lighten($main-blue, 10%);
$main-blue-dark-5:   darken($main-blue, 5%);

$top-border-active:   #A2D230;
$sky-blue-border:     #68B5E3;
$mid-blue:            #4D73B0;
$mid-blue-light-5:    lighten($mid-blue, 5%);

/*
$go-green:           #76cc66;
$go-green-30:        lighten($go-green, 30%);
$go-green-plus5:     darken($go-green, 5%);
*/
