@import 'mixins';


li {
  text-decoration: none;
  list-style: none;
}

#map3d {
  width: 1282px;
  float: left;
  padding: 10px;
  margin-bottom: 25px;
}

#location-list,
section.list-meals {
  border: 3px solid rgba(255,255,255, 0.1);
  width: 1282px;
  float: left;
  padding: 10px;
  margin-bottom: 25px;
  box-shadow: 0px 4px 6px $main-blue-dark-5;
  position: relative;
  z-index: 1000;
  top: -558px;
}

section.list-meals {
   z-index: 0;
   top: 0;
}


.destination-wrapper {
  float: left;
  width: 400px;
  height: 430px;
  margin: 10px;
  border: 3px solid rgba(255, 255, 255, 0.6);
  @include default_box_shadow;
  a {
    text-decoration: none;
  }
}

.info-box {
  position: relative;
  width: 406px;
  min-height: 100px;
  margin-top: -104px;
  margin-left: -3px;
  margin-right: -3px;
  background-color: #FFF;
  opacity: .3;
}

.info {
  padding: 10px;
  letter-spacing: 7px;
  position: relative;
}

.info .dest-name {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.3em;
  position: relative;
  margin-top: -80px;
  text-decoration: none;
  color: #FFF;
  text-shadow: 0px 2px 5px #000;
}

.info .dest-description {
  text-align: center;
  padding: 10px;
  margin-top: 50px;
  text-transform: capitalize;
}

.invisible {
  opacity: 0;
}

#map3d {
  width: 1282px;
  height: 500px;
}