@import 'mixins';


li {
  text-decoration: none;
  list-style: none;
}

.destination-wrapper {
  float: left;
  width: 400px;
  height: 400px;
  margin: 10px;
  border: 1px solid red;
  @include default_box_shadow;

}
.destination-image {
  float: left;
  /*margin: 10px;*/
  /*width: 400px;*/
  /*height: 300px;*/
  /*@include default_box_shadow;*/
}

.invisible {
  opacity: 0;
}

#map3d {
  width: 1282px;
  height: 500px;
}