@import 'color_chart';
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:400,300,700|Syncopate:700|Bevan);


.red {
  border: 1px solid red;
}

html {
  background: -webkit-radial-gradient(circle, #67B8AA, $main-blue);
  font-family: "Lato", verdana, arial, helvetica, sans-serif;
}

body {
  width: 1286px;
  margin: 0 auto;
  margin-top: 20px;
}

a {
  color: #FFF;
}

p, ol, ul, td {
  font-family: "Lato", verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.jumbo-header {
  font-family: "Bevan", verdana, arial, helvetica, sans-serif;
  text-align: center;
  font-size: 3.5em;
  color: #FFF;
  opacity: .1;
  letter-spacing: 20px;
  margin-bottom: -25px;
  text-shadow: 0px -5px 10px #000;
}

#top-level-header {
  max-width: 1295px;
  margin: 0 auto;
  height: 82px;
  a.nav-panel {
    box-shadow: 0px 4px 6px $main-blue-dark-5;
    background-color: $mid-blue;
    border-top: 4px solid $sky-blue-border;
    color: #FFF;
    font-size: 1.2em;
    margin: 0px;
    float: left;
    width: 237px;
    padding: 30px 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      border-top: 4px solid $top-border-active;
      background-color: $mid-blue-light-5;
      box-shadow: 0px 7px 21px $main-blue-dark-5;
    }
  }
}

li {
  text-decoration: none;
  list-style: none;
}

.dish-profile {
  border: 1px solid #999;
  width: 400px;
  margin: 10px;
  padding: 10px;
  float: left;
  height: 300px;
}