@import 'color_chart';

.red {
  border: 1px solid red;
}

body {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2C4D94), to(#FFF));
  background-repeat: no-repeat;
}

#top-level-header {
  border-top: 3px solid $sky-blue-border;
  /*margin-left: -8px;*/
  /*margin-right: : -8px;*/
  /*margin-top: -10px;*/
  .nav {
    padding: 10px;
  }
}

li {
  text-decoration: none;
  list-style: none;
}

.dish-profile {
  border: 1px solid #999;
  width: 400px;
  margin: 10px;
  padding: 10px;
  float: left;
  height: 300px;
}