@import 'color_chart';

.red {
  border: 1px solid red;
}

body {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($main-blue), to(#FFF));
  background-repeat: no-repeat;
}

#top-level-header {
  background-color: $mid-blue;
  float: left;
  width: 1295px;
  box-shadow: 0px 4px 6px $main-blue-dark-5;
  a.nav-panel {
    border-top: 4px solid $sky-blue-border;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid $main-blue-light-10;
    color: #FFF;
    font-size: 1.2em;
    margin: 0px;
    float: left;
    width: 237px;
    padding: 30px 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      border-top: 4px solid $top-border-active;
      background-color: $mid-blue-light-5;
    }
  }
}

li {
  text-decoration: none;
  list-style: none;
}

.dish-profile {
  border: 1px solid #999;
  width: 400px;
  margin: 10px;
  padding: 10px;
  float: left;
  height: 300px;
}