#welcome-top {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 105px 0;
  margin-top: 20px;
}

%section.featured {
  padding-bottom: 150px;
  border: 1px solid red;
}

